.button-secondary_1 {
  border-radius: 15px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  background: hsla(0, 0%, 100%, 0.1);
  transition: 0.2s all ease;
  &:hover {
    transform: scale(1.1);
    background: hsla(0, 0%, 100%, 0.2);
  }
}

.button-primary {
  border-radius: 22px;
  padding: 18px;
  border: none;
  cursor: pointer;
  transition: 0.2s all ease;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff5c4d),
    color-stop(26.56%, #eb469f),
    color-stop(75%, #8341ef),
    to(#3f68f9)
  );
  &:hover {
    transform: scale(1.1);
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#ff5c4d),
      color-stop(26.56%, #eb469f),
      color-stop(75%, #8341ef),
      to(#3f68f9)
    );
  }
}
.button-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  &:hover {
    color: rgba(0, 0, 0, 0.9);
  }
}

.button-secondary_2 {
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
  &:active {
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.9);
  }
  &:hover {
    color: rgba(0, 0, 0, 0.9);
  }
}

.button-block {
  width: 100%;
}

.button-active {
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.9);
}

.button-background {
  background-color: #f2f2f2;
  transition: 0.5s all ease;
  &:hover{
    background: #e6e6e6;
  }
}
