@import '../../globalStyles/breakPoints.scss';
footer {
  max-width: 1280px;
  margin: 0 auto;
  background-color: black;
  .container-footer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    position: relative;
    .container-advertisement {
      display: flex;
      gap: 20px;
      padding: 50px 20px;
      width: 100%;
      display: flex;

      .left {
        width: 100%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        z-index: 1;
        @include mobile {
          .button-advertisement {
            max-width: 250px;
          }
        }

      }
      .right {
        position: absolute;
        right: 0;
        top: 0;
        
        img {
          width: 100%;
          object-fit: contain;
        }
      }
    }
    .container-links {
      z-index: 1;
      width: 100%;
      .menu-links {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 25px;
        .link {
          a {
            cursor: pointer;
            svg {
              path {
                fill: hsla(0, 0%, 100%, 0.5);
                &:hover {
                  fill: hsla(0, 0%, 100%, 0.8);
                }
              }
            }
          }
          &:first-child {
            a {
              svg {
                path {
                  stroke: hsla(0, 0%, 100%, 0);
                  fill: hsla(0, 0%, 100%, 0.5);
                  &:hover {
                    stroke: hsla(0, 0%, 100%, 0.1);
                    fill: hsla(0, 0%, 100%, 0.8);
                  }
                }
              }
            }
          }
        }
      }
    }
    .container-nav-links {
      z-index: 1;
      width: 100%;
      nav {
        width: 100%;
        .container-items-links {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 20px;
          .item-links {
            a {
              text-decoration: none;
              .text-body4 {
                &:hover {
                  color: hsla(0, 0%, 100%, 0.8) !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
